<div *ngIf="items">
    <h1>Attributes</h1>
    <hr>
    <a routerLink="../upsert">Add</a>
    <table>
    <thead><tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
        
    </thead>
    <tbody *ngIf="items">
        <tr *ngFor="let item of items">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.type}}</td>
            <td>
                <a href="#" [routerLink]="['../detail',item.id]">Detail</a>&nbsp;&nbsp;
                <a href="#" [routerLink]="['../upsert',item.id]">Edit</a>&nbsp;&nbsp;
                <a href="#" [routerLink]="['../rels',item.id]">Rels</a>&nbsp;&nbsp;
                <a href="#" (click)="onDelete(item.id);false">Delete</a>
            </td>
        </tr>
    </tbody>
    </table>
</div>