<div *ngIf="model">
<form (ngSubmit)="onSubmit()" #form="ngForm">
      <input type="text" id="id"
               hidden
               [(ngModel)]="model.profile.id" name="id" placeholder="id"
               #id="ngModel">
      <div class="row mb-2">
        <div class="col-7 mb-2">
          <input type="text" class="form-control" id="description" placeholder="description"
               required
               [(ngModel)]="model.profile.description" name="description"
               #description="ngModel">
        </div>
        <div class="col-2 mb-2">
          <select id="selectedAttribute" name="selectedAttribute" class="form-control" #selectedAttribute="ngModel" [(ngModel)]="model.selectedAttribute">
            <option *ngFor="let attr of model.attributes" [ngValue]="attr">{{attr.name}}</option>
          </select>
        </div>
        <div class="col-2 mb-2">
          <input  type="number" class="form-control" 
            name="selectedLevel" #selectedLevel="ngModel" [(ngModel)]="model.selectedLevel">
          
        </div>
        <div class="col-1 mb-2">
            <a class="text-dark add-link" type="button" (click)="addAttribute()"><i class="fa fa-2x fa-plus-circle"></i></a>
        </div>
      </div>
      <div class="row border-primary p-1 border border-dark m-1">
        <div class="col-4 text-center mb-2" 
        *ngFor='let pAttr of model.profile.attributes'>
          <a class="text-dark" (click)="onDeleteAttr(pAttr);false"><i class="fa fa-window-close text-dark"></i></a>
          lv{{pAttr.level}}&nbsp;&nbsp;{{pAttr.attribute.name}}
        </div>
      </div>
       <div class="text-right">
        <button type="button" class="btn btn-outline-dark" (click)="onSubmit()" [disabled]="!form.valid">Submit</button>
      </div>
    </form>
</div>