main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    app-header,
    app-footer {
        padding: 1rem;
        display: block;
        box-shadow: 0 0 1rem rgba(black, 0.5);
        z-index: 1;
    }

    section {
        flex: auto;
        padding: 1rem;
        background-color: var(--main-bg);
    }
}