<p>Organization Create / Edit</p>
<form (ngSubmit)="onSubmit()" #form="ngForm">
    <input type="text" id="id"
               disabled
               [(ngModel)]="model.id" name="id" placeholder="id"
               #id="ngModel">
    <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="description" placeholder="description"
               required
               [(ngModel)]="model.description" name="description"
               #description="ngModel">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="logo" placeholder="logo"
               required
               [(ngModel)]="model.logo" name="logo"
               #logo="ngModel">
      </div>
      <button type="button" class="btn btn-success" (click)="onSubmit()" [disabled]="!form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="onReset()">Reset</button>
    </form>