<nav>
    <span *ngIf="service.loggedUser">

    
    <a routerLink="/profile">Profiles</a>
    <a routerLink="/person">People</a>
    <a routerLink="/client">Clients</a>
    <a routerLink="/attributes">Attributes</a>
    <a routerLink="/talentscape">Talentscape</a>
        <img class="img-fluid rounded-circle avatar" [src]="service.loggedUser.picture">{{ service.loggedUser.firstName}}&nbsp;&nbsp;
        <a routerLink="/" (click)="logout()"><i class="fas fa-sign-out-alt"></i></a>
        <span *ngIf="!service.loggedUser">
            <a routerLink="/"><i class="fas fa-sign-in-alt"></i></a>
        </span>
    </span>
</nav>