<div class="container-fluid" *ngIf="model">
<form (ngSubmit)="onSubmit()" #form="ngForm">
    <input type="text" id="id"
               hidden
               [(ngModel)]="model.id" name="id" placeholder="id"
               #id="ngModel">
    <div class="row mb-2">
      <div class="col-3">
        <input type="text" class="form-control" id="name" placeholder="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
              </div>
               <div class="col-2">
                <select id="type" name="type" class='form-control select-option' required [(ngModel)]='model.type'>
                  <option class='option' *ngFor='let type of types' [value]="type">{{type}}</option>
                </select>
              </div>
        <div class="col-7">
          <input type="text" class="form-control" id="description" placeholder="description"
               required
               [(ngModel)]="model.description" name="description"
               #description="ngModel">
        </div>
      </div>
      
      <div class="text-right">
        <button type="button" class="btn btn-outline-dark" (click)="onSubmit()" [disabled]="!form.valid">Submit</button>
      </div>  
    </form>
</div>
