/* BUTTONS */

.btn {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: solid 1px;
    box-shadow: 0 5px 0.5rem rgba(black, 0.5);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}