<div *ngIf="busNumberGraph">
Bus number
<ngx-charts-bar-horizontal-stacked
  [view]="view"
  [scheme]="colorScheme"
  [results]="busNumberGraph"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-horizontal-stacked>
{{busNumberGraph.series | json}}
</div>
Skill coverage
<p>
Pie Grid by skills
</p>

Ten most wanted skills table with attributes
<p>
skills most present in search profiles
</p>

Ten skills most likely to be learned
<p>
    skills most closely related to existing skills
</p>
